$fa-font-path : "../webfonts";
$white           : #FFFFFF ;
$header_color    : #38AEF0 ;
$left_top_color  : #253141 ;
$left_main_color : #2f3e51 ;
$form_background_color  : #AAAAAA ;
$border_color    : #eeeeee ;
$message_font    : #434A54 ;
$left_contents_widht    : 300px ;
$left_contents_padding  : 0px 20px ;
$right_contents_padding : 0px 40px ;
